<div class="col-xs-12 comment-indent">
  <p><%= comment.text %></p>
  <% if(comment.comments){ %>
    <% comment.comments.forEach(function(reply){ %>
      <%- include('comment', {comment: reply}) %>
    <% }) %>
  <% } %>
</div>
