<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/comments.css">
  <link rel="stylesheet" href="/stylesheets/subs.css">
  <link rel="stylesheet" href="/stylesheets/articles.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">

  <title>Reddit Clone</title>

</head>
<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Reddit__Clone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-link" href="/">Home</a>
        </li>
        <li>
          <a class="nav-link" href="subs/new">New Sub</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <% if(!currentUser){ %>
          <li>
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li>
           <a class="nav-link" href="/signup">Signup</a>
         </li>
        <% }else{ %>
          <li>
            <a class="nav-link" href="#"><%= currentUser.username %></a>
          </li>
          <li>
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>

  <div>
    <% if(error && error.length > 0){ %>
      <div role="alert">
        <%= error %>
      </div>
    <% } %>
    <% if(success && success.length > 0){ %>
      <div role="alert">
        <%= success %>
      </div>
    <% } %>
  </div>

  <div class="container">
