<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/comments.css">
  <link rel="stylesheet" href="/stylesheets/subs.css">
  <link rel="stylesheet" href="/stylesheets/posts.css">
  <!-- Include stylesheet -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 


  <title>Reddit Clone</title>

</head>
<body>
  <nav>
    <ul>
      <li>
        <span>Reddit__Clone</span>
      </li>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/s/new">Create a new subreddit</a>
      </li>
    <% if(!currentUser){ %>
      <li class="push-right">
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/signup">Signup</a>
      </li>
    <% }else{ %>
      <li class="push-right">
        <a href="#"><%= currentUser.username %> <a href="/logout">(Logout)</a></a>
      </li>
    <% } %>
    </ul>
  </nav>
  
  <div>
    <% if(error && error.length > 0){ %>
      <div role="alert">
        <%= error %>
      </div>
    <% } %>
    <% if(success && success.length > 0){ %>
      <div role="alert">
        <%= success %>
      </div>
    <% } %>
  </div>
    <!-- END of Header -->
