<% include partials/header %>

<h3>Subreddits</h3>
	<ul class="subreddit-list">
		<% subs.forEach(function(sub){ %>
			<li><a href="/s/<%= sub._id %>"><%= sub.name %></a></li>
		<% }) %>
	</ul>

<% include partials/footer  %>
