<% include partials/header %>

<h3>Subs</h3>
<div>
		<ul class="list-group">
			<% subs.forEach(function(sub){ %>
				<li class="list-group-item bg-dark"><a class="text-light" href="/subs/<%= sub._id %>"><%= sub.name %></a></li>
			<% }) %>
		</ul>
</div>

<% include partials/footer  %>
