<h1>LOGIN PAGE</h1>

<form>
	<input type="username" name="username" placeholder="Your Username">
	<input type="password" name="password" placeholder="Password">
	<input type="submit" name="submit" value="Login">
</form>