<% include partials/header  %>

<h1>LOGIN PAGE</h1>
<form action="/login" method="post">
	<div>
		<input type="username" name="username" placeholder="Your Username">
	</div>
	<div>
		<input type="password" name="password" placeholder="Password">
	</div>
	<div>
		<input type="submit" name="submit" value="Login">
	</div>
</form>

<% include partials/footer  %>
