<% include partials/header  %>

<h1>SIGNUP PAGE</h1>

<form action="/signup" method="post">
	<div>
		<input class="form-input" type="username" name="username" placeholder="Your Username">
	</div>
	<div>
		<input class="form-input" type="password" name="password" placeholder="Password">
	</div>
	<div>
		<input class="btn" type="submit" name="submit" value="Signup">
	</div>
</form>

<% include partials/footer  %>
