<h1>SIGNUP PAGE</h1>

<form action="/signup" method="POST">
	<input type="text" name="username" placeholder="New Username">
	<input type="password" name="password" placeholder="Password">
	<input type="submit" name="submit" value="Submit">
</form>