<% include ../partials/header %>
<div class="container">
    <h1>New Post for /<%= sub.name %></h1>
    <form action="/s/<%= sub._id %>/articles" method="post">
      <div class="form-group article-input">
        <label>Title</label>
        <input class="form-control" type="text" name="article[title]" required>
      </div>
      <div class="form-group article-input">
        <label for="article[text]">Text</label>
        <textarea class="form-control"> </textarea>
      </div>
      <div class="form-group article-input">
        <input class="btn btn-primary" type="submit" name="Submit" value="Submit">
      </div>
    </form>
</div>
<% include ../partials/footer %>
