.comment-indent{
  padding: 0 20px 0 20px;
  margin-right: -5px;
  border-left: 1px solid rgb(172, 172, 172);
  background-color: rgb(255, 255, 255);
  font-size: 0.9rem;
}

.comment-indent input{
  padding: 0;
}

.score-text-inline{
  display: flex;
  align-items: center;
}

.detail-form p{
  margin:0;
  margin-bottom: 5px;
}