.comment-section{
    width: 100%;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.comment{
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    background-color: grey;
}

.comment-author{
    font-size: 0.8em;
    color: rgb(54, 54, 54);
}

.comment p{
    margin: 0;
}

