body, html{
    font-family: 'Open Sans', sans-serif;
    min-width: 463px;
    height: 100vh;
    padding: 5px;
    background: rgb(245, 245, 245);
}

input, select, textarea, button {
    font-family: inherit;
}

.details{
  font-size: 0.7rem;
  margin-top: auto;
}

.details a{
    text-decoration: none;
}

nav ul{
    display:flex;
    margin:0 -10px;
    padding: 0;
    width: 100%;
}

nav li{
    margin: 0 10px;
    list-style-type: none;
}


nav a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    color: rgb(79, 114, 167);
    text-decoration: underline;
}

.push-right{
    margin-left: auto;
}

.form-input{
    width: 33%;
    min-width: 300px;
    margin: 10px 0 10px 0;
    border:0;
    outline: 0;
    background: transparent;
    color: black;
    border-bottom: 1px solid rgb(140,140,140);
}

.btn{
    border:0;
    outline: 0;
    color: black;
    background: transparent;
    border: 1px solid rgb(140,140,140);
    border-radius: 5px;
}

.button-as-text{
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    color: #0000EE;
    text-decoration: none;
}

.button-as-text:hover{
    text-decoration: underline;
}