body, html{
  font-family: 'Open Sans', sans-serif;
  min-width: 463px;
  height: 100vh;
  padding: 5px;
  margin: 0;
  background: rgb(240, 240, 240);
}

input, select, textarea, button {
    font-family: inherit;
}

.details{
  font-size: 0.7rem;
}

.details a{
  text-decoration: none;
}


nav ul{
  display:flex;
  padding: 0;
  width: 100%;
  height: 25px;
  line-height: 25px;
  margin: 0;
  list-style-type: none;
}

nav li{
  margin-right: 10px;
}

nav li:last-child{
  margin-right: 0;
}

nav a{
  text-decoration: none;
  color: black;
  text-align: center;
}

nav ul li a:hover{
  color: rgb(79, 114, 167);
  text-decoration: underline;
}

.push-right{
  margin-left: auto;
}

.form-input{
  width: 33%;
  min-width: 300px;
  margin: 10px 0 10px 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: black;
  border-bottom: 1px solid rgb(140,140,140);
}

.btn{
  border:0;
  outline: 0;
  color: black;
  background: transparent;
  border: 1px solid rgb(140,140,140);
  border-radius: 5px;
}

.button-as-text{
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  color: #0000EE;
  text-decoration: none;
}

.button-as-text-details{
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  color: #0000EE;
  text-decoration: none;
  font-size: 0.7rem;
}

.button-as-text:hover{
    text-decoration: underline;
}

.arrow-up {
  padding: 0;
  margin: 0;
  background-image: url('../images/party.gif');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  border: 0;
}

.arrow-down {
  padding: 0;
  margin: 0;
  background-image: url('../images/party.gif');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  border: 0;
  transform: rotate(180deg);
}

.score-container{
  display: flex;
  align-items: center;
  margin-right: 10px;
  text-align: center;
  padding: 0;
}

.score{
  width: 22px;
}

.delete-form{
  margin:0;
  padding:0;
}

.arrow{
    margin: 0;
    padding: 0;
    line-height: 0;
}
