.post{
    margin-top: 10px;
    background-color: rgb(255,255,255)
}

.post-text{
    border: 1px solid rgb(148,148,148);
    border-radius: 5px;
    padding: 5px 2px;
    font-size: 0.9rem;
}

.post-head{
    margin-bottom: -10px;
}

.post-title{
    display: block;
    margin-bottom: -10px;
}

.post-list{
    margin-top: 10px;
    counter-reset: item;
}

.post-list-item::before{
    counter-increment: item;
    content: counter(item);
    margin-right: 5px;
}

.post-list-item{
    display: flex;
    margin-bottom: 5px;
}

.post-list-item a{
    text-decoration: none;
}

.post-list-item a:hover{
    text-decoration: underline;
}