.post-list{
  margin-top: 10px;
  counter-reset: item;
}
.post-list-item::before{
  counter-increment: item;
  content: counter(item);
  margin-right: 5px;
}

.post-list-item{
  display: flex;
  margin-bottom: 5px;
}