<% include ../partials/header %>
  <h1>Reply</h1>
  <form action="/s/<%= sub._id %>/posts/<%= post._id %>/comments/<%= comment._id %>/replies" method="post">
    <p class="post post-text"><%= comment.text %></p>
    <div>
      <label for="Reply">Reply</label><br>
      <input class="form-input" type="text" name="reply[text]" placeholder="Enter Your Reply Here" required>
    </div>
    <div>
      <input type="submit" name="submit" value="submit">
    </div>
  </form>

<% include ../partials/footer %>
