<% include ../partials/header %>
  <h1>Reply</h1>
  <form action="/s/<%= sub._id %>/posts/<%= post._id %>/comments/<%= comment._id %>/replies" method="post">
    <label for="reply">Reply</label>
    <p><%= comment.text %></p>

    <div>
      <label for="Reply">Reply</label>
      <input type="text" name="reply[text]" >
    </div>
    <div>
      <input type="submit" name="submit" value="submit">
    </div>
  </form>

<% include ../partials/footer %>
