.post{
  margin-top: 10px;
  background-color: rgb(255,255,255)
}

.post-text{
  border: 1px solid rgb(148,148,148);
  border-radius: 5px;
  padding: 5px 2px;
  font-size: 0.9rem;
}

.post-head{
  margin-bottom: -10px;
}

.post-title{
  display: block;
  margin-bottom: -10px;
}

.post-list{
  counter-reset: item;
}

.post-list-item::before{
  counter-increment: item;
  content: counter(item);
  margin-right: 10px;
}

.post-list-item{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.post-list-item a{
  text-decoration: none;
  margin-right: 10px;
}

.post-list-item a:hover{
  text-decoration: underline;
}

.post-list hr{
  border: 0;
  height: 1px;
  background: #ddd;
}