<% include ../partials/header %>

<h1>All Subs</h1>
<ul>
<% subs.forEach(function(sub){ %>
	<li><a href="/subs/<%= sub.id %>"><%= sub.subname %></a></li>
<% }); %>
</ul>
<a href="/">Go Back</a>


<% include ../partials/footer %>