<% include ../partials/header %>
<div class="container">
<h1>Create a new Sub</h1>
  <form action="/subs" method="POST">
    <div class="form-group">
          <input class="form-control" type="text" name="name" placeholder="Name">
          <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
  <a href="/subs" class="btn btn-primary">Go Back</a>


</div>


<% include ../partials/footer %>
