<% include ../partials/header %>

<div>
  <h1>Create a new Sub</h1>
    <form action="/s" method="POST">
      <div>
          <input class="form-input" type="text" name="name" placeholder="Enter A Subreddit Name">
      </div>
      <div>
          <input class="btn" type="submit" name="submit" value="Submit">
      </div>
      </div>
    </form>
</div>


<% include ../partials/footer %>
