<% include ../partials/header %>
<div>
    <h1>New Post for /<%= sub.name %></h1>
    <form action="/s/<%= sub._id %>/posts" method="post">
      <div>
        <input class="form-input" type="text" name="post[title]" placeholder="Title" required />
      </div>
      <div>
        <input class="form-input" type="text" name="post[text]" placeholder="Text" required />
      </div>
      <div>
        <input type="submit" name="Submit" value="Submit">
      </div>
    </form>
</div>
<% include ../partials/footer %>
