<% include ../partials/header %>
<div>
    <h1>New Post for /<%= sub.name %></h1>
    <form action="/s/<%= sub._id %>/posts" method="post">
      <div>
        <label>Title</label>
        <input type="text" name="post[title]" required />
      </div>
      <div>
        <label for="post[text]">Text</label>
        <input type="text" name="post[text]" required />
      </div>
      <div>
        <input type="submit" name="Submit" value="Submit">
      </div>
    </form>
</div>
<% include ../partials/footer %>
